<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unipi.developers.multiplicationlearning">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MultiplicationLearning">
        <activity android:name=".LessonsActivity" android:screenOrientation="landscape" />
        <activity android:name=".SignUpStudentActivity" android:screenOrientation="landscape" />
        <activity android:name=".SignUpTeacherActivity" android:screenOrientation="landscape" />
        <activity
            android:name=".CreateAccountActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LogInActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>